/**/
html {
    font-family: "DM Sans", sans-serif;
    font-size: 1.0rem;
}
/**/
body {
    background: #000000;
    overflow: hidden; /* Evita rolagem da página horizontalmente */
}
/**/
header {
    display: flex;
    justity-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: 70px;
    width: 98%;
    margin: 1%;

    .div-nav {
        background-color: #000000;
        display: flex;
        align-items: center;
        height: 65px;
        width: 100%;
        border-radius: 10px;
        z-index: 0; /* Faz com que a imagem fique por trás */
        /* IMAGEM */
        img {
            width: 60px;
            text-align: 50%;
        }
        /* TÍTULO */
        span {
            font-weight: bold;
            font-size: 1.4rem;
            color: #ffffff;
            margin-left: 15px;
        }
        /* BOTÃO FECHAR */
        .fa-solid {
            position: fixed;
            right: 2%;
            font-size: 2.2rem;
            font-weight: bold;
            color: #ffffff;
            text-decoration: none;
        }
        /* EXECUTA QUANDO O MOUSE SELECIONA */
        .fa-solid:hover {
            cursor: pointer;
            transform: scale(1.1, 1.1)
        }
    }
}
/* BARRA DE EDIT DE FILTRAR E OS BOTÕES DE INCLUIR, ALTERAR E EXCLUIR */
.div-operaction {
    background-color: #242424;
    display: flex;
    justity-content: center;
    align-items: center;
    height: 8%;
    width: 98%;
    border-radius: 10px;
    color: #000000;
    position: fixed;
    top: 10%;
    margin: 1%;
    /* DIV DO EDIT DE FILTRAGEM */
    .div-input-search {
        display: flex;
        align-items: center;
        width: 364px;
        height: 48px;
        background-color: #000000;
        border-radius: 500px;
        border: 1px solid transparent;
        margin-left: 1%;
        /* IMAGEM */
        img {
            width: 16px;
            height: 16px;
            margin-left: 10px;
        }
        /* EDIT */
        input {
            background: transparent;
            border: none;
            padding: 0px 100px 0 12px;
            color: #ffffff;
            text-overflow: ellipsis; /* Especifica como o conteúdo estourado que não é exibido deve ser sinalizado para o usuário. */
            overflow: hidden;
            white-space: nowrap; /* Especifica como o espaço em branco dentro de um elemento é manipulado. */
            outline: none;
        }
    }
    /* DIV DOS BOTÕES DE INCLUIR, ALTERAR E EXCLUIR */
    .div-buttons {
        display: flex;
        align-items: center;
        margin-left: 2%;
        /* BOTÕES */
        .button-operaction {
            background-color: #00640090;
            width: 120px;
            height: 40px;
            color: #ffffff;
            font-size: 16px;
            border-radius: 15px;
            margin-left: 5%;
            border: none;
        }
        /* EXECUTA AO SELECIONAR O BOTÃO */
        .button-operaction:hover {
            background-color: #006400;
            transform: scale(1.1, 1.1);
            font-weight: bold;
        }
    }
}
/* SECTION */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1%;
    height: 78vh;
    width: 100%;
    .div-section {
        background-color: #242424;
        display: flex;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        margin: 1%;
        z-index: 0; /* Faz com que a imagem fique por trás */

        table {
            width: 100%;
            height: auto;
            display: block;
            border: none;
            color: #ffffff;
            top: 0;

            .col-codigo {
                width: 5vw;
                text-align: center;
            }
            .col-inscricao {
                width: 15vw;
                text-align: center;
            }
            .col-razaosocial {
                width: 50vw;
                text-align: left;
            }
            .col-fantasia {
                width: 30vw;
                text-align: left;
            }
            th {
                background-color: #000000;
                color: #ffffff;
                vertical-align: bottom;
                position: sticky;
                top: 0;
            }
            th,
            td {
                padding: 5px 10px;
                border-top-width: 0;
                border-left-width: 0;
            }
            td {
                text-transform: uppercase;
            }
            tr:hover {
                background-color: #000000;
                cursor: pointer;
            }
        }
    }
}

