/* DIV DA IMAGEM CENTRAL */
.div-imagem-central {
    position: fixed;
    display: flex;
    justity-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    /* IMAGEM */
    img {
        width: 100%;
        height: auto;
        filter: grayscale(0%);
    }
}
/* BARRA SUPERIOR - MENU */
nav {
    background-color: #ffffff50;
    display: block;
    justity-content: center;
    align-items: center;
    height: 60px;
    width: 99%;
    position: relative;
    left: 10px;
    right: 10px;
    top: 10px;
    border-radius: 10px;
    z-index: 0; /* Faz com que a imagem fique por trás */
    /* DIV REFERENTE A BARRA DE MENU */
    .div-nav {
        border-radius: 10px;
        height: 60px;
        width: 100%;
        /* IMAGEM */
        img {
            float: left;
            width: 60px;
            text-align: 50%;
            padding: 5px;
        }
        /* TITULO */
        span {
            float: left;
            font-size: 1.6rem;
            font-weight: bold;
            color: #000000;
            margin: 10px;
        }
        /*DIV REFERENTE AOS MENUS */
        .div-menu {
            display: inline-block;
            position: relative;
            /* TITULOS DO SUBMENU */
            .a-submenu {
                font-size: 1.2rem;
                font-weight: bold;
                color: #000000;
                display: inline-block;
                text-align: center;
                padding: 16px 18px;
                text-decoration: none;
            }
            /* EXECUTA QUANDO O MOUSE SELECIONA */
            .a-submenu:hover {
                background-color: #00000090;
                color: #ffffff;
                cursor: pointer;
            }
            /* DIV DOS SUBMENUS */
            .div-submenu-itens {
                display: none;
                position: absolute;
                background-color: #363636;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px #ffffff;
                z-index: 1;
                /* TITULOS DOS SUBMENUS */
                a {
                    display: block;
                    color: #ffffff;
                    padding: 12px 16px;
                    text-align: left;
                    text-decoration: none;
                    width: 300px;
                }
                /* EXECUTA QUANDO O MOUSE SELECIONA */
                a:hover {
                    background-color: #000000;
                }
            }
        }
        /* EXECUTA QUANDO O MOUSE SELECIONA, MOSTRA A LISTA DOS SUBMENU  */
        .div-menu:hover
        .div-submenu-itens{
            display: block;
        }
    }
}
/* BARRA INFERIOR */
footer {
    background-color: #ffffff50;
    display: flex;
    flex-direction: row;
    justity-content: center;
    align-items: center;
    height: 50px;
    width: 99%;
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 10px;
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;

    .span-left {
        position: relative;
        left: 5%;
    }

    .span-right {
        position: fixed;
        right: 2%;
    }
