{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'appetd/css/selects.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% block caption %}CADASTRO DE CONSULTAS{% endblock %}
    <section>
        <div>
            <table>
                <thead>
                    <tr class="active">
                        <th class="lg-id">id</th>
                        <th class="lg-nome">Nome</th>
                        <th class="lg-descricao">Descrição</th>
                        <th class="lg-buttom"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="lg-id">001</td>
                        <td class="lg-nome">CARGA_PESSOAS</td>
                        <td class="lg-descricao">Cadastro de Pessoas</td>
                        <td class="lg-buttom">
                            <button class="btn-incluir"  type="submit">Incluir</button>
                            <button class="btn-editar"  type="submit">Editar</button>
                            <button class="btn-excluir" type="submit">Excluir</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="lg-id">002</td>
                        <td>CARGA_CLIENTES</td>
                        <td>Cadastro de Clentes</td>
                        <td class="lg-buttom">
                            <button class="btn-incluir"  type="submit">Incluir</button>
                            <button class="btn-editar"  type="submit">Editar</button>
                            <button class="btn-excluir" type="submit">Excluir</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="lg-id">003</td>
                        <td>CARGA_PESSOASCADASTRO</td>
                        <td>Cadastro de Pessoas Dados Financeiro</td>
                        <td class="lg-buttom">
                            <button class="btn-incluir"  type="submit">Incluir</button>
                            <button class="btn-editar"  type="submit">Editar</button>
                            <button class="btn-excluir" type="submit">Excluir</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="lg-id">004</td>
                        <td>CARGA_REPRESENTANTES</td>
                        <td>Cadastro de Representantes</td>
                        <td class="lg-buttom">
                            <button class="btn-incluir"  type="submit">Incluir</button>
                            <button class="btn-editar"  type="submit">Editar</button>
                            <button class="btn-excluir" type="submit">Excluir</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="lg-id">005</td>
                        <td>CARGA_EMPRESAS</td>
                        <td>Cadastro de Empresas</td>
                        <td class="lg-buttom">
                            <button class="btn-incluir"  type="submit">Incluir</button>
                            <button class="btn-editar"  type="submit">Editar</button>
                            <button class="btn-excluir" type="submit">Excluir</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="lg-id">006</td>
                        <td>CARGA_EMPRESAS</td>
                        <td>Cadastro de Empresas</td>
                        <td class="lg-buttom">
                            <button class="btn-incluir"  type="submit">Incluir</button>
                            <button class="btn-editar"  type="submit">Editar</button>
                            <button class="btn-excluir" type="submit">Excluir</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="lg-id">007</td>
                        <td>CARGA_EMPRESAS</td>
                        <td>Cadastro de Empresas</td>
                        <td class="lg-buttom">
                            <button class="btn-incluir"  type="submit">Incluir</button>
                            <button class="btn-editar"  type="submit">Editar</button>
                            <button class="btn-excluir" type="submit">Excluir</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="lg-id">008</td>
                        <td>CARGA_EMPRESAS</td>
                        <td>Cadastro de Empresas</td>
                        <td class="lg-buttom">
                            <button class="btn-incluir"  type="submit">Incluir</button>
                            <button class="btn-editar"  type="submit">Editar</button>
                            <button class="btn-excluir" type="submit">Excluir</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="lg-id">009</td>
                        <td>CARGA_EMPRESAS</td>
                        <td>Cadastro de Empresas</td>
                        <td class="lg-buttom">
                            <button class="btn-incluir"  type="submit">Incluir</button>
                            <button class="btn-editar"  type="submit">Editar</button>
                            <button class="btn-excluir" type="submit">Excluir</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="lg-id">010</td>
                        <td>CARGA_EMPRESAS</td>
                        <td>Cadastro de Empresas</td>
                        <td class="lg-buttom">
                            <button class="btn-incluir"  type="submit">Incluir</button>
                            <button class="btn-editar"  type="submit">Editar</button>
                            <button class="btn-excluir" type="submit">Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}