<!doctype html>
{% load static %}
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'appetd/css/login.css' %}">
    </head>
    <body>
        <div class="div-container-e">
            <div class="div-login">
                <figure>
                    <img class="img-logo-sistema" src="{% static 'appetd/img/etl_512x512.png' %}">
                </figure>
                <p>ACESSO AO SISTEMA</p>
                <form action="{% url 'autenticacao' %}" method="GET">
                    {% csrf_token %}
                    <div class="form-floating usuario">
                        <input class="form-control" type="text" id="username" placeholder="Usuário" name="usuario">
                        <label for="username">Usuário</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" type="password" id="password" placeholder="Senha" name="senha">
                        <label for="password">Senha</label>
                    </div>
                    <button type="submit" id="botao-enviar">Enviar</button>
                </form>
            </div>
        </div>

        <div class="div-container-d">
            <figure>
                <img class="img-logo-empresa" src="{% static 'img/logo_cadan_2751x2899.png' %}">
            </figure>
        </div>

        {% if tipo == True %}
        <div class="div-modal" id="form-modal">
            <div class="div-modal-content">
                <div class="div-title">
                    <p class="title">Atenção</p>
                    <span onclick="fecharModal()">&times;</span>
                </div>
                <div class="div-message">
                    <p class="fa-solid fa-triangle-exclamation fa-fade"></p>
                    <span class="span-message" id="message">{{message}}</span>
                </div>
            </div>
        </div>
        {% endif %}

        <script src="{% static 'appetd/js/login.js' %}"></script>

    </body>
</html>