<!doctype html>
{% load static %}
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>APPCFPv2023.0.1.26</title>
        <link rel="shortcut icon" href="{% static 'appcfp/img/logo-sistema-100x100.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'appcfp/css/geral.css' %}">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <header>
            <nav class="div-nav">
                <img src="{% static 'appcfp/img/logo-sistema-100x100.png' %}" alt="">
                <span>
                    CONTROLE FINANCEIRO PESSOAL
                    &nbsp;&#129094;
                    {% block titulo %}{% endblock %}
                </span>
                {% block btnfechar %}{% endblock %}
            </nav>
            {% block header %}{% endblock %}
        </header>
        <main>
            <div class="div-operaction">
                <div class="div-input-search">
                    <img src="{% static 'img/search.png' %}" alt="">
                    <input id="search-input" type="text" maxlength="800" placeholder="Procurar..." />
                </div>
                <div class="div-buttons">
                    <button class="button-operaction" id="button-insert" onclick="abrirModal()">Incluir</button>
                    <button class="button-operaction" id="button-update">Alterar</button>
                    <button class="button-operaction" id="button-delete">Excluir</button>
                </div>
            </div>
            {% block main %}{% endblock %}
        </main>
        <section>
            <div class="div-section">
                <table>
                    {% block table %}{% endblock %}
                </table>
            </div>
            {% block section %}{% endblock %}
        </section>
        {% endblock %}

        {% block showmodal %}{% endblock %}

        {% block javascript %}{% endblock %}
    </body>
</html>
