<!doctype html>
{% load static %}
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>APPCFPv2023.0.1.26</title>
        <link rel="shortcut icon" href="{% static 'appcfp/img/logo-sistema-100x100.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'appcfp/css/geral.css' %}">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <header>
            <nav class="div-nav">
                <img src="{% static 'appcfp/img/logo-sistema-100x100.png' %}" alt="">
                <span>
                    CONTROLE FINANCEIRO PESSOAL
                    &nbsp;&#129094;
                    {% block titulo %}{% endblock %}
                </span>
                <span class="fa-solid fa-square-xmark">

                </span>
            </nav>
            {% block header %}{% endblock %}
        </header>
        <main>
            <div class="div-operaction">
                <div class="div-input-search">
                    <img src="{% static 'img/search.png' %}" alt="">
                    <input id="search-input" type="text" maxlength="800" placeholder="Procurar..." />
                </div>
                <div class="div-buttons">
                   <button class="button-operaction">Incluir</button>
                   <button class="button-operaction">Alterar</button>
                   <button class="button-operaction">Excluir</button>
                </div>
            </div>
            {% block main %}{% endblock %}
        </main>
        <section>
            <div class="div-section">
                <table>
                    <thead>
                        <tr>
                            <th class="col-status"></th>
                            <th class="col-codigo">Código</th>
                            <th class="col-inscricao">inscrição CPF/CNPJ</th>
                            <th class="col-razaosocial">Nome/Razão Social</th>
                            <th class="col-fantasia">Nome/Fantásia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="col-codigo">000001</td>
                            <td class="col-inscricao">00000000000000</td>
                            <td class="col-razaosocial">CLIENTE FULANDO DE TAL 000001</td>
                            <td class="col-fantasia">FULANDO DE TAL 000001</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="col-codigo">000002</td>
                            <td class="col-inscricao">00000000000000</td>
                            <td class="col-razaosocial">CLIENTE FULANDO DE TAL 000001</td>
                            <td class="col-fantasia">FULANDO DE TAL 000001</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="col-codigo">000003</td>
                            <td class="col-inscricao">00000000000000</td>
                            <td class="col-razaosocial">CLIENTE FULANDO DE TAL 000001</td>
                            <td class="col-fantasia">FULANDO DE TAL 000001</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="col-codigo">000004</td>
                            <td class="col-inscricao">00000000000000</td>
                            <td class="col-razaosocial">CLIENTE FULANDO DE TAL 000001</td>
                            <td class="col-fantasia">FULANDO DE TAL 000001</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="col-codigo">000005</td>
                            <td class="col-inscricao">00000000000000</td>
                            <td class="col-razaosocial">CLIENTE FULANDO DE TAL 000001</td>
                            <td class="col-fantasia">FULANDO DE TAL 000001</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="col-codigo">000006</td>
                            <td class="col-inscricao">00000000000000</td>
                            <td class="col-razaosocial">CLIENTE FULANDO DE TAL 000001</td>
                            <td class="col-fantasia">FULANDO DE TAL 000001</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="col-codigo">000007</td>
                            <td class="col-inscricao">00000000000000</td>
                            <td class="col-razaosocial">CLIENTE FULANDO DE TAL 000001</td>
                            <td class="col-fantasia">FULANDO DE TAL 000001</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="col-codigo">000008</td>
                            <td class="col-inscricao">00000000000000</td>
                            <td class="col-razaosocial">CLIENTE FULANDO DE TAL 000001</td>
                            <td class="col-fantasia">FULANDO DE TAL 000001</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="col-codigo">000009</td>
                            <td class="col-inscricao">00000000000000</td>
                            <td class="col-razaosocial">CLIENTE FULANDO DE TAL 000001</td>
                            <td class="col-fantasia">FULANDO DE TAL 000001</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="col-codigo">000010</td>
                            <td class="col-inscricao">00000000000000</td>
                            <td class="col-razaosocial">CLIENTE FULANDO DE TAL 000001</td>
                            <td class="col-fantasia">FULANDO DE TAL 000001</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% block section %}{% endblock %}
        </section>
        {% endblock %}
    </body>
</html>
