{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'appcfp/css/login.css' %}">
{% endblock %}

{% block body %}
    {% block header %}{% endblock %}
    {% block main %}{% endblock %}
    {% block section %}
        <!-- CONTAINER DO LOGIN -->
        <div class="div-container-left">
            <div class="div-login">
                <div class="div-form">
                    <div class="div-login-image">
                        <img src="{% static 'appcfp/img/login.png' %}" alt="Logo da empresa">
                    </div>
                    <p>ACESSO AO SISTEMA</p>
                    <form action="{% url 'autenticacao' %}" method="GET">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" id="username" name="username">
                            <label for="username">Usuário</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="password" id="password" name="password">
                            <label for="password">Senha</label>
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button type="submit">Acessar</button>
                            <a href="#">Esqueci minha senha</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- CONTAINER DA LOGO -->
        <div class="div-container-right">
            <div class="div-image-empresa">
                <div>
                    <img class="image-empresa" src="{% static 'appcfp/img/logo-sistema-500x500.png' %}" alt="Logo da empresa">
                    <p>CONTROLE FINANCEIRO PESSOAL</p>
                </div>
            </div>
        </div>
        <!-- FORMULÁRIO MODAL -->
        {% if enviar == True %}
            <div class="div-modal" id="form-modal">
                <div class="div-modal-content">
                    <div class="div-title">
                        <p class="title">Atenção</p>
                        <span onclick="fecharModal()">&times;</span>
                    </div>
                    <div class="div-message">
                        <p class="fa-solid fa-triangle-exclamation fa-fade"></p>
                        <span class="span-message" id="message">{{message}}</span>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% block javascript %}
        <script src="{% static 'appcfp/js/login.js' %}"></script>
    {% endblock %}
{% endblock %}